* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background: #2A384C;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #2A384C;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
color: #F0F0F0;
text-decoration: none;
font-weight: bolder;
font-size: 20px;
}
nav ul li a:hover{
color: #A0B2C2;
}
.nav-home{
  color: #A0B2C2;
}
 nav img{
  
}
.logo{
  color: #2A384C;
  background-color: #A0B2C2;
  font-size: 32px;
  font-weight: bolder;
}
.logo:hover{
color: #A0B2C2;
transition: all 0.5s ease-in-out;
}
.main{
 margin-left: 8%;
 margin-top: 15%;
 color: #A0B2C2;

}
.active{
  color: #A0B2C2;
  font-weight: bolder;
}
.active:hover{
 color: #2A384C;
 background-color: #A0B2C2;
}

.main .main-content{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  
}
.main-content a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #A0B2C2;
  border:  2px solid #A0B2C2;
  border-radius: 2px;
  font-size: 19px;
  color: #2A384C;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 5s;
}
.main-content a:nth-child(2){
  background: transparent;
  color: #A0B2C2;
}
.main-content a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2A384C;
  z-index: -1;
  transition: .10s;
}
.main-content a:hover::before{
  width: 100%;
}
.main-content a:nth-child(2)::before{
  background: #A0B2C2;
}
.main-content a:nth-child(2):hover{
  color: #2A384C;
}
.main-content a:hover{
  color: #A0B2C2;
}

.main p{
  margin-bottom: 100px;
  font-size: auto;
  color: #F0F0F0;
}
.main h3{
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  color: #A0B2C2;
}
.main h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: #F0F0F0;
}

.main-link{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 40px;
  width: 170px;
  background: #2A384C;
}
.main-link a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 20px solid #A0B2C2;
  font-size: 20px;
  margin: 10px 20px;
  border-radius: 20px;
  
  }
 
  .main-link a:hover{
    color: #A0B2C2;
  }
  .main-link a:nth-child(2):hover{
    color: #2A384C;
  }
  .main-link a:nth-child(3):hover{
    color: #2A384C;
  }
  .main-link a:nth-child(1):hover{
    color: #2A384C;
  }
  .image{
    width: 35%;
    height: 80%;
    bottom: 10%;
    position: absolute;
    right: 90px;
    background-color: #2A384C;
  }

.image img{
  height: 90%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  size: 100vh;
  transition: bottom 1s, left 1s;
}
.image:hover .splash{
  bottom: 40px;
}
/* .image:hover .porsh{
left: 45%;
} */
 












  
  
  
  
  
  
  /* STYLESHEET FOR ABOUT ME LINK */
  
  .about-me{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2A384C;
  }
  .social-link{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .social-link a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 20px solid #A0B2C2;
    font-size: 20px;
    margin: 10px 20px;
    border-radius: 20px;
  }
  .social-link a:hover{
    color: #2A384C;
    background-color: #2A384C;
  }
  .about-logo{
    color: #A0B2C2;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .about-logo:hover{
    color: #2A384C;
    background-color: #A0B2C2;
  }

  .about-body h1{
   display: flex;
   justify-content: safe;
   color: #A0B2C2;
   margin: 70px;
   padding: 20px;
  }
  .foto img{
   padding: 10px;
   margin: 10px;
   width: 30vh;
   height: 20%;
  }
  


